* {
    --div-height-shared : 100%;
    --div-width-shared : 50%;
    font-family: "Open Sans", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    padding: 0%;
    margin: 0%;
    background-color: #43aefc;
    height: 100vh;
}
/* Main stuff  */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.home-layout {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 60vw;
    height: 70vh;
}

/* Inside Main stuff */

.left-div {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    height: var(--div-height-shared);
    width: var(--div-width-shared);
}

.right-div {
    height: var(--div-height-shared);
    width: var(--div-width-shared);
}

/* inside the left or right div  */

.card-layout {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

/* inside the card Stuff */

#arrow-img{
    width: 50%;
    height: 50%;
    background-image: url(/src/assets/images/arrow.png);
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: none;
}

/* Card content Stuff */

.content-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-head {
    display: flex;
    color: #43aefc;
    justify-content: center;
    align-items: center;
    border-bottom: 0.14vw solid rgba(0,0,0,0.2);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 15px;
}
